<%= post.name %>
<%= post.body %>
<ul class="comments"> <%=render post.comments %> </ul>
<div class="comment-errors"> </div>
<%= form_with model: [post, comment] do |f|  %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit 'COMMENT' %>
<% end %>